
@import "variables";

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  background-color: $white-color;
  padding: 3% 5% 5% 5%;
  z-index: 1;
}
.flex-item {
  text-align: left;
  @media (min-width: 600px) {
    width: 150vh;
  }
}

