body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  color: royalblue;
  line-height: 17px;
  background-color: #f4f4f4;
  margin: 0;
}


code {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}
