
.title-name {
  margin: 0px;
  font-size: 12px;
  padding-top: 3%;
}

.inputData {
  width: 100%;
	box-sizing: border-box;
	color: #333333;
  font-size: 14px;
  padding: 10px;
  border: 0.5px solid #ACACAC;
  border-radius: 4px;
}

.inputData:focus, .inputData:valid {
  border: 0.5px solid #ACACAC;
}

.inputData::placeholder {
  color: #ACACAC;
}

.inputData:focus { 
  border: 0.2px solid #39b0ea;
 }

 .text-error {
  color: #D20F36;
 }